// Place all the styles related to the Responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.custom-combobox {
  position: relative;
  display: inline-block;
  height: inherit;
}
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  height: 30px;
}
.custom-combobox-input {
  margin: 0;
  padding: 5px 10px;
  height: inherit;
}
