
<div id="nav-bar" class="navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
        <li class="btn-group">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Emails<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% @emails.each do |email| %>
              <%= link_to "#{email.email}", email_path(email) %>
            <% end %>
          </ul>
        </li>
        <li class="btn-group">
          <%= link_to "Other", survey_resps_path, class: "dropdown-toggle", data: { toggle: "dropdown" }, html_options: {role: "button"} %>
          <ul class="dropdown-menu" role="menu">
            <% resp_type_enum.each do |question| %>
              <%= link_to "#{question}", survey_resps_path(question: question) %>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
